<div class="container">
    <div class="row">
  
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label >Name</label>
          <input type="text" class="form-control" formControlName="name"  placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control"  formControlName="description"  placeholder="Enter Description">
          </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control"  formControlName="price"  placeholder="Enter Price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  

    <table class="table" >
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody *ngFor="let p of products">
      <tr>
        <td>{{ p.name }}</td>
        <td>{{p.price}}</td>
        <td>{{p.description}}</td>
        <td><button type="button"  (click)="edit(p)" class="btn btn-primary">Edit</button></td>
        <td><button type="button" (click)="delete(p)" class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>