<div class="container">
    <div class="row">
  
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label >Name</label>
          <input type="text" class="form-control" formControlName="name"  placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control"  formControlName="description"  placeholder="Enter Description">
          </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control"  formControlName="price"  placeholder="Enter Price">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
    </div>
  </div>